In [103]:
class Employee:
    def __init__(self, name, l_name, salary, exp):
        self.name = name
        self.last_name = l_name
        self.base_salary = salary
        self.experience = exp


class Developer(Employee):
    def __init__(self, name, l_name, salary, exp):
       super().__init__(name, l_name, salary, exp)
       

class Designer(Employee):
    def __init__(self, name, l_name, salary, exp, er):
       super().__init__(name, l_name, salary, exp)
       self.er = er

class Manager(Employee):
    def __init__(self, name, l_name, salary, exp, team):
       super().__init__(name, l_name, salary, exp)
       self.team = team   


class Department:
    def __init__(self, managers):
         self.managers = managers
    
    def giveSalary(self):
        print('\n'.join(self.countedSalary()))

    def countedSalary(self):
        ans = []
        for m in self.managers:
            salary = m.base_salary
            if m.experience > 5:   salary = salary*1.2 + 500
            elif m.experience > 2: salary += 200

            if len(m.team)>10: salary += 300
            elif len(m.team)>5: salary += 200
            
            if sum(isinstance(x, Developer) for x in m.team)>len(m.team)/2: salary *= 1.1
            ans.append(f'\n{m.name} {m.last_name} отримав(-ла) {salary} шекелей')

            for e in m.team:
                salary = e.base_salary

                if e.experience > 5:
                    salary = salary*1.2 + 500
                elif e.experience > 2:
                    salary += 200
                
                if isinstance(e, Designer):
                    salary *= e.er

                ans.append(f'   {e.name} {e.last_name} отримав(-ла) {salary} шекелей')

        return ans

In [110]:
department = Department(
    [
        Manager('Ігнат', 'Прищ', 4500, 8,
                [
                    Designer('Кирило',  'Крінженко', 3300, 4,   1),
                    Designer('Галина',  'Краш',      2100, 1.5, 0.1),
                    Designer('Остап',   'Вишня',     4300, 3.5, 0.7),
                    Designer('Іван',    'Березюк',   4800, 1.5, 0.3),
                    Developer('Сергій', 'Обрубок',   4800, 5)
                ]),
        Manager('Василина', 'Голубець', 4300, 7,
                [
                    Designer('Мирослав', 'Грач',    5600,   1,   0.8),
                    Designer('Тарас',    'Квасоля', 2300,   0.5, 0.3),
                    Developer('Єгор',    'Шнурко',  3800,   2.5),
                    Developer('Наташа',  'Борщ',    3900,   2),
                    Developer('Дмитро',  'Гуро',    999999, 99),
                ]),
        Manager('Любослав', 'Слободяник', 4600, 4,
                [
                    Designer('Анна',     'Галушка',    5600, 1,   0.5),
                    Designer('Тарас',    'Онопрієнко', 3200, 1.5, 0.7),
                    Designer('Тарас',    'Бартків',    5000, 2,   0.9),
                    Designer('Тарас',    'Музичко',    6800, 5,   0.4),
                    Designer('Тарас',    'Олексенко',  2300, 1.5, 0.3),
                    Designer('Тарас',    'Березюк',    4800, 1.5, 0.3),
                    Developer('Єгор',    'Живосил',    3600, 3),
                    Developer('Єгор',    'Чеслав',     3900, 2.5),
                    Developer('Вікторія','Данканич',   4200, 3.5),
                    Developer('Єгор',    'Данканич',   3800, 1),
                    Developer('Наташа',  'Леськів',    3900, 2)
                ])
        
    ])

In [111]:
department.giveSalary()

Ігнат Прищ отримав(-ла) 5900.0 шекелей
   Кирило Крінженко отримав(-ла) 3500 шекелей
   Галина Краш отримав(-ла) 210.0 шекелей
   Остап Вишня отримав(-ла) 3150.0 шекелей
   Іван Березюк отримав(-ла) 1440.0 шекелей
   Сергій Обрубок отримав(-ла) 6260.0 шекелей

Василина Голубець отримав(-ла) 6226.000000000001 шекелей
   Мирослав Грач отримав(-ла) 4480.0 шекелей
   Тарас Квасоля отримав(-ла) 690.0 шекелей
   Єгор Шнурко отримав(-ла) 4000 шекелей
   Наташа Борщ отримав(-ла) 4100 шекелей
   Дмитро Гуро отримав(-ла) 1200498.8 шекелей

Любослав Слободяник отримав(-ла) 5100 шекелей
   Анна Галушка отримав(-ла) 2800.0 шекелей
   Тарас Онопрієнко отримав(-ла) 2240.0 шекелей
   Тарас Бартків отримав(-ла) 4680.0 шекелей
   Тарас Музичко отримав(-ла) 3464.0 шекелей
   Тарас Олексенко отримав(-ла) 690.0 шекелей
   Тарас Березюк отримав(-ла) 1440.0 шекелей
   Єгор Живосил отримав(-ла) 3800 шекелей
   Єгор Чеслав отримав(-ла) 4100 шекелей
   Вікторія Данканич отримав(-ла) 4400 шекелей
   Єгор Данканич отримав(-ла) 3800 шекелей
   Наташа Леськів отримав(-ла) 4100 шекелей